body{
  
   background-color: white;
  color: charcoal;
  Font-family: Optima, Sans-serif;
  margin: 10% 15%
}

h1{
  text-align: center;
  border-bottom: 1px solid black;
}

p{
  text-align: center;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
}

h3{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #767675;
  border-bottom: 1px solid #767675;
  background-color: rgba(0,0,0, 0.1)
}


